[submodule "packages/ndk"]
	path = packages/ndk
	url = git@github.com:nostr-dev-kit/ndk.git
	branch = master
[submodule "packages/expo-nip55"]
	path = packages/expo-nip55
	url = https://github.com/pablof7z/expo-nip55
[submodule "apps/packages/ndk"]
	path = apps/packages/ndk
	url = git@github.com:nostr-dev-kit/ndk.git
